<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body layout:fragment="body">

<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2">Present your business in a whole new way</h1>
          <p class="lead text-white-50 mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit!</p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
            <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Features section-->
<section class="py-5 border-bottom" id="features">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      <div>
        <form class="form-inline my-3" th:action="@{/clubs/search}">
          <input class="form-control" type="search" th:placeholder="'Search Club By Title'" name="query">

        </form>
      </div>
      <div th:each="club :${clubs}" class="col-lg-4 mb-5 mb-lg-0">
        <h2 th:text="${club.title}" class="h4 fw-bolder"></h2>
        <img class="img-fluid rounded-3 mb-5" th:src="${club.photoUrl}" alt="Image Not Found">
        <p th:text="${club.content}"></p>

        <div>
          <a class="btn btn-warning" th:href="@{/clubs/{clubId}/edit(clubId=${club.id})}"> Edit </a>

          <a class="btn btn-success" th:href="@{/clubs/{clubId}(clubId=${club.id})}">View</a>

        </div>

      </div>

    </div>
  </div>
</section>

</body>
</html>