<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body layout:fragment="body">

<section class="py-5 border-bottom" id="features">
  <div class="container px-5 my-5">
    <div class="row gx-5">

      <div th:each="event :${events}" class="col-lg-4 mb-5 mb-lg-0">
        <h2 th:text="${event.name}" class="h4 fw-bolder"></h2>
        <img class="img-fluid rounded-3 mb-5" th:src="${event.photoUrl}" alt="Image Not Found">
        <p th:text="${event.type}"></p>

        <div>
          <a class="btn btn-warning"> Edit </a>

          <a class="btn btn-success">View</a>

        </div>

      </div>

    </div>
  </div>
</section>

</body>
</html>